nav {
    word-spacing: 40px;
}



#trippleLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-auto-rows: minmax(0, 1fr);
    grid-auto-flow: row;
}

#personImage {
    width: 500px;
}
