html {
    font-family: 'Spectral', serif;
    font-weight: light;
    color: white;
    background-color: black;
}

#nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    word-spacing: 100px;
    background-color: rgb(79, 77, 77);

}

#logo {
    width: 30px;
}

#trippleLayout {
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    gap: 100px;
    flex-direction: row;
    
}

#trippleLayout > * {
    flex: 1;
}

#leftText {
    padding-top: 150px;
    
}

#nameDiv {
    text-align: center;
}

#heightGenderDiv {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#bioDiv {
    text-align: center;
}

#personFaTitle {
    text-align: center;
}

#personFa {
    text-align: center;
}

#rightText {
    padding-top: 150px;
}

#titanNameDiv {
    text-align: center;
}

#titanHeightDiv {
    text-align: center;
}

#titanBioDiv {
    text-align: center;
}

#titanAbilities {
    text-align: center;
}

#titanFaTitle {
    text-align: center;
}

#titanFa {
    text-align: center;
}

#personImage {
    position: relative;
    z-index: 2;    
    width: 100px;
    top: 420px;
    left: 50px;
}

#titanImage {
    position: relative;
    z-index: 1;
    max-width: 500px;
    max-height: 700px;
    top: 0;
    left: 0;
    
}

#buttonsDiv {
    display: flex;
    justify-content: center;
    
}
