html {
    font-family: 'Spectral', serif;
    font-weight: light;
    color: white;
    background-color: black;
}

#nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    word-spacing: 100px;
    background-color: rgb(79, 77, 77);

}

#logo {
    width: 30px;
}

#trippleLayout {
    display: flex;
    max-width: 1800px;
    margin: 0 auto;
    gap: 100px;
    flex-direction: row;
    
}

#trippleLayout > * {
    flex: 1;
}

#leftText {
    padding-top: 150px;
    
}

#nameDiv {
    text-align: center;
}

#heightGenderDiv {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#bioDiv {
    text-align: center;
}

#personFaTitle {
    text-align: center;
}

#personFa {
    text-align: center;
}

#rightText {
    padding-top: 150px;
}

#titanNameDiv {
    text-align: center;
}

#titanHeightDiv {
    text-align: center;
}

#titanBioDiv {
    text-align: center;
}

#titanAbilities {
    text-align: center;
}

#titanFaTitle {
    text-align: center;
}

#titanFa {
    text-align: center;
}

#personImage {
    position: relative;
    z-index: 2;    
    width: 100px;
    top: 420px;
    left: 50px;
}

#titanImage {
    position: relative;
    z-index: 1;
    max-width: 500px;
    max-height: 700px;
    top: 0;
    left: 0;
    
}

#buttonsDiv {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 70px;
}

#erenB {
    display: flex;
    justify-content: center;
    
}

#erenButton {
    font-family: 'Anton', serif;
    font-size: 20px;
    text-shadow: 2px 2px 8px;
    color: green;
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(209, 209, 209));
    padding: 7px;
    border-radius: 19px;
}

#erenTB {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#erenTitanButton {
    font-family: 'Anton', serif;
    font-size: 24px;
    text-shadow: 3px 2px 6px;
    letter-spacing: 2.5px;
    color: silver;
    background: transparent;
    border: none;
}

#zekeB {
    display: flex;
    justify-content: center;
}

#zekeButton {
    font-family: 'Anton', serif;
    font-size: 20px;
    text-shadow: 2px 2px 8px;
    color: rgb(209, 118, 14);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(193, 193, 193));
    padding: 7px;
    border-radius: 19px;
}

#zekeTB {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#zekeTitanButton {
    font-family: 'Anton', serif;
    font-size: 24px;
    text-shadow: 3px 2px 6px;
    letter-spacing: 2.5px;
    color: silver;
    background: transparent;
    border: none;
}

#reinerB {
    display: flex;
    justify-content: center;
}

#reinerButton {
    font-family: 'Anton', serif;
    font-size: 20px;
    text-shadow: 2px 2px 8px;
    color: rgb(9, 103, 165);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(197, 196, 196));
    padding: 7px;
    border-radius: 19px;
}

#reinerTB {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#reinerTitanButton {
    font-family: 'Anton', serif;
    font-size: 24px;
    text-shadow: 3px 2px 6px;
    letter-spacing: 2.5px;
    color: silver;
    background: transparent;
    border: none;
}

#annieB {
    display: flex;
    justify-content: center;
}

#annieButton {
    font-family: 'Anton', serif;
    font-size: 20px;
    text-shadow: 2px 2px 8px;
    color: rgb(163, 145, 8);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(176, 175, 175));
    padding: 7px;
    border-radius: 19px;
}

#annieTB {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#annieTitanButton {
    font-family: 'Anton', serif;
    font-size: 24px;
    text-shadow: 3px 2px 6px;
    letter-spacing: 2.5px;
    color: silver;
    background: transparent;
    border: none;
}

#bertholdB {
    display: flex;
    justify-content: center;
}

#bertholdtButton {
    font-family: 'Anton', serif;
    font-size: 20px;
    text-shadow: 2px 2px 8px;
    color: rgb(221, 51, 42);
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(176, 176, 176));
    padding: 7px;
    border-radius: 19px;
}

#bertholdtTB {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#bertholdtTitanButton {
    font-family: 'Anton', serif;
    font-size: 24px;
    text-shadow: 3px 2px 6px;
    letter-spacing: 2.5px;
    color: silver;
    background: transparent;
    border: none;
}